* {
	margin: 0;
	padding: 0;
}

body {
	background-color: grey;
}

/* main block */

.wrapper {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	background-color: white;
}

@media (max-width: 1200px){
	.wrapper {
		max-width: 970px;
	}
}

@media (max-width: 992px){
	.wrapper {
		max-width: 750px;
	}
}

@media (max-width: 767px){
	.wrapper {
		max-width: none;
	}
}

/* header */

.header {
	display: flex;
	justify-content: space-between;
	background-color: #46bd40;
}

.text-header {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.nav-header {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 20px;
}

.up {
	text-decoration: none;
	padding-right: 5px;
	font-size: 20px;
	color: blue;
}

.up:hover {
	color: red;
}

/* navigation */

.container {
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
}	

.text-navigation {
	margin-top: 20px;
	margin-bottom: 15px;
}

.nav {
	margin-top: 20px;
	margin-bottom: 15px;
    border-bottom: 2px solid grey; 
    padding-bottom: 10px;
}

.nav-nav {
	font-size: 20px;
	text-decoration: none;
	padding-right: 5px;
	position: relative;
	color: blue;
}

.nav-nav:hover {
	color: red;
}

/* main */

.main {
	background-color: #ebebeb;
}

/* container */

.container-main {
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	flex-wrap: wrap;
}

.main-container {
	background-color: black;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/* block 1 */

.image-text {
	border: 2px solid grey;
    display: flex;
	padding: 2px;
}

.img-block1 {
	height: 110px;
	float: left;
}

.p-img {
	line-height: 20px;
	color: white;
}

/* block  2 */

.image {
   display: flex;
   border: 2px solid grey;
   padding: 2px;
}

.img-block2 {
	float: left;
}

.p-image {
	line-height: 20px;
	color: white;
}

/* block 3 */

.image-block {
	border: 2px solid grey;
	padding: 2px;
	display: flex;
}

.img-block3 {
	float: left;
}

.p-imageblock {
	margin-left: 2px;
	line-height: 20px;
	color: white;
}

/* footer */

.footer {
	margin-top: 5px;
	background-color: red;
}

.footer-bottom {
	border-top: 2px solid black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bolder;
	background-color: #202020;
	color: white;
}

.footer-top {
	background-color: #222222;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.table {
	color: white;
	margin-left: 40px;
	margin-top: 25px;
}

.input-bottom {
	margin-top: 3px;
}

.question {
	margin-top: 25px;
	margin-bottom: 20px;
	margin-right: 30px;
	margin-left: 40px;
}

.input-top {
	color: white;
	margin-top: 25px;
	margin-left: 30px;
}

.inputfoot {
	background-color: yellow;
	border: 2px solid yellow;
}

.inputfoot {
	margin-top: 5px;
	font-size: 15px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.top-input {
	color: white;
	margin-top: 25px;
}

.input-footer {
   margin-top: 3px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   font-size: 15px;
}

.input-foot {
   margin-top: 3px;
   font-size: 17px;
   padding: 2px;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   background-color: yellow;
   border: 2px solid yellow;
}

.texttop-foot {
	background-color: red;
}

/* SINGL PAGE */

.image-single-page {
   color: white;
   display: flex;
   justify-content: space-between;
}


/* HEADER */ 

.up-a {
	text-decoration: none;
	padding-right: 5px;
	font-size: 20px;
	color: blue;
}

.up-a:hover {
	color: red;
}

/* Block 1 single page */

.block-single-page {
	background-color: orange;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-messi {
	height: 230px;
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.img-deeyong {
   height: 230px;
   margin-top: 15px;
   margin-left: 20px;
   margin-bottom: 10px;
}

.img-salch {
   height: 230px;
   margin-top: 15px;
   margin-right: 20px;
   margin-bottom: 10px;
   margin-left: 20px;
}

/* Block 2 single page */

.conte {
	height: 225px;
	margin-top: 15px;
	margin-left: 40px;
	margin-bottom: 10px;
}

.league {
   height: 220px;
   margin-top: 15px;
   margin-left: 20px;
   margin-bottom: 10px;
}

.grizman {
   height: 220px;
   margin-top: 15px;
   margin-right: 20px;
   margin-bottom: 10px;
   margin-left: 20px;
}

/* Block 3 single page */

.ronaldo {
	height: 225px;
	margin-top: 15px;
	margin-left: 60px;
	margin-bottom: 10px;
}

.during {
   height: 220px;
   margin-top: 15px;
   margin-left: 20px;
   margin-bottom: 10px;
}

.neymar {
   height: 220px;
   margin-top: 15px;
   margin-right: 20px;
   margin-bottom: 10px;
   margin-left: 20px;
}